{% extends 'accounts/base.html' %}
{% block content %}
<nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <span class="navbar-brand">Inventory System</span>
        <a href="{% url 'login' %}" class="btn btn-outline-light btn-sm">Logout</a>
    </div>
</nav>

<div class="row">
    <div class="col-md-12">
        <h3>Welcome, {{ user.username }}!</h3>
        <div class="card p-3 mt-3">
            <h5>Quick Actions</h5>
            <a href="/admin/" class="btn btn-secondary btn-sm">Access Admin Panel (RBAC Test)</a>
        </div>
    </div>
</div>
{% endblock %}